<article id="article_2">
  <h2 class="blind">persona info</h2>
  <!-- scroll__section2 -->
  <div class="scroll__section scroll__section3" style="height: 7600px;">
    <div class="scroll__section__inner" style="overflow:hidden;height: 3128px;">
      <div data-wow-delay="1s" class="section3__box2 wow fadeInUp">
        <img src="../../../../assets/img/bg_section_3_box3_v2.png" alt="" class="bg_planet">
        <div class="box">
          <img src="../../../../assets/img/bg_section_3_box1.png" alt="" class="planet1">
          <img src="../../../../assets/img/bg_section_3_box2.png" alt="" class="planet2">
        </div>
      </div>
      <div data-wow-delay="1s" class="section3__box1 wow fadeInUp">
        <div class="box">
          <p>지구와 평행세계에 존재하는 쌍둥이별,<br /> 모든 지구인들의 부캐가 공존하는 특별한 곳에서<br /> 특별한 이야기가 시작된다.</p>
        </div>
      </div>
      <div data-wow-delay="1s" class="section3__box3 wow fadeInUp">
        <img src="../../../../assets/img/img_persona_planet.png" alt="PERSONA PLANET" class="planet1">
      </div>
      <div data-wow-delay="1.5s" class="section3__box4 wow fadeInUp"> 지구의 평행우주 속 존재하는 행성, 페르소나 별 </div>
      <div data-wow-delay="2s" class="section3__box5 wow bounceInUp center"> 30년전 알 수 없는 질병이 페르소나 별을 덮쳤고, </div>
      <div data-wow-delay="2.05s" class="section3__box6 wow bounceInUp center"> 마의손은 오랜 연구 끝에 바이러스 백신을 발견하게 된다. </div>
      <div data-wow-delay="2.1s" class="section3__box7 wow bounceInUp center"> 하지만, 누구의 능력으로 치료되었는지 모호했고 </div>
      <div data-wow-delay="2.15s" class="section3__box8 wow bounceInUp center"> 페르소나인들은 신념에 맞는 능력자들을 추종하며 </div>
      <div data-wow-delay="2.2s" class="section3__box9 wow bounceInUp center"> 다섯분파로 나뉘게 된다. 2017년 서울에 방문한 마미손은 </div>
      <div data-wow-delay="2.25s" class="section3__box10 wow bounceInUp center"> 지구 또한 블루바이러스가 퍼져있음을 확인하고 </div>
      <div data-wow-delay="2.3s" class="section3__box11 wow bounceInUp center"> 이를 퇴치하기 위해 거대한 계획을 세우게 되는데… </div>
    </div>
    <div class="scroll__section__inner">
      <div class="section3__box2_1">
        <div class="box">
          <img src="../../../../assets/img/img_saeul.png" alt="saeul" class="img_saeul" />
          <p class="img_saeul_text">부캐들의 근원지 '새울시'</p>
          <p class="img_saeul_text2">페르소나별에서 가장 영향력 있는 부캐들이 있는 곳<br> 부캐들의 능력이 만들어지는 페르소별의 중심지</p>
          <a href="http://saeul.kr" target="_blank"><img src="../../../../assets/img/bg_section_1_box3.png" alt="메타버스 새울시 투표하러 가기"></a>
        </div>
        <!--[D] 탭 리스트 순서대로 v1,v2,v3,v4,v5로 활성화한다. -->
        <div class="box map v1">
          <div class="map_img"></div>
          <ul class="map_list">
            <li><button type="button"><span class="blind">VOORGU</span></button></li>
            <li><button type="button"><span class="blind">UTGIGU</span></button></li>
            <li><button type="button"><span class="blind">SAGU PALGU</span></button></li>
            <li><button type="button"><span class="blind">BADALAGU</span></button></li>
            <li><button type="button"><span class="blind">NANUGU</span></button></li>
          </ul>
        </div>
        <!--[D] 탭 리스트 순서대로 v1,v2,v3,v4,v5로 활성화한다. -->
        <div class="box map_card v1">
          <div class="card_img img1">
            <div class="card_img_title">
              <span class="blind">부르구</span>
            </div>
            <div class="card_img_person">
            </div>
          </div>
          <div class="card_img img2">
            <div class="card_img_title">
              <span class="blind">웃기구</span>
            </div>
            <div class="card_img_person">
            </div>
          </div>
          <div class="card_img img3">
            <div class="card_img_title">
              <span class="blind">사구팔구</span>
            </div>
            <div class="card_img_person">
            </div>
          </div>
          <div class="card_img img4">
            <div class="card_img_title">
              <span class="blind">봐달라구</span>
            </div>
            <div class="card_img_person">
            </div>
          </div>
          <div class="card_img img5">
            <div class="card_img_title">
              <span class="blind">나누구</span>
            </div>
            <div class="card_img_person"></div>
          </div>
          <ul class="card_list list1">
            <li class="card_list_item">
              <div class="wrapper elem" style="transform: perspective(600px) rotateY(0deg) rotateX(0deg);">
                <div class="bloc">
                  <img src="../../../../assets/img/card/voorgu_1.png" width="275" height="418" alt="" />
                </div>
              </div>
              <!--[D] 클릭시 활성화 : on 클래스 추가-->
              <div class="card_list_ly">
                <div class="card_list_ly_box">
                  <img src="../../../../assets/img/layer/voorgu_1.png" width="1080" alt="" />
                  <button type="button" aria-label="닫기"></button>
                </div>
              </div>
            </li>
            <li class="card_list_item">
              <div class="wrapper elem" style="transform: perspective(600px) rotateY(0deg) rotateX(0deg);">
                <div class="bloc">
                  <img src="../../../../assets/img/card/voorgu_2.png" width="275" height="418" alt="" />
                </div>
              </div>
              <!--[D] 클릭시 활성화 : on 클래스 추가-->
              <div class="card_list_ly">
                <div class="card_list_ly_box">
                  <img src="../../../../assets/img/layer/voorgu_2.png" width="1080" alt="" />
                  <button type="button" aria-label="닫기"></button>
                </div>
              </div>
            </li>
            <li class="card_list_item">
              <div class="wrapper elem" style="transform: perspective(600px) rotateY(0deg) rotateX(0deg);">
                <div class="bloc">
                  <img src="../../../../assets/img/card/voorgu_3.png" width="275" height="418" alt="" />
                </div>
              </div>
              <!--[D] 클릭시 활성화 : on 클래스 추가-->
              <div class="card_list_ly">
                <div class="card_list_ly_box">
                  <img src="../../../../assets/img/layer/voorgu_3.png" width="1080" alt="" />
                  <button type="button" aria-label="닫기"></button>
                </div>
              </div>
            </li>
            <li class="card_list_item">
              <div class="wrapper elem" style="transform: perspective(600px) rotateY(0deg) rotateX(0deg);">
                <div class="bloc">
                  <img src="../../../../assets/img/card/voorgu_4.png" width="275" height="418" alt="" />
                </div>
              </div>
              <!--[D] 클릭시 활성화 : on 클래스 추가-->
              <div class="card_list_ly">
                <div class="card_list_ly_box">
                  <img src="../../../../assets/img/layer/voorgu_4.png" width="1080" alt="" />
                  <button type="button" aria-label="닫기"></button>
                </div>
              </div>
            </li>
            <li class="card_list_item">
              <div class="wrapper elem" style="transform: perspective(600px) rotateY(0deg) rotateX(0deg);">
                <div class="bloc">
                  <img src="../../../../assets/img/card/voorgu_5.png" width="275" height="418" alt="" />
                </div>
              </div>
              <!--[D] 클릭시 활성화 : on 클래스 추가-->
              <div class="card_list_ly">
                <div class="card_list_ly_box">
                  <!--[D] 이미지 받아서 변경 : 재키아이둘-->
                  <img src="../../../../assets/img/layer/voorgu_6.png" width="1080" alt="" />
                  <button type="button" aria-label="닫기"></button>
                </div>
              </div>
            </li>
            <li class="card_list_item">
              <div class="wrapper elem" style="transform: perspective(600px) rotateY(0deg) rotateX(0deg);">
                <div class="bloc">
                  <img src="../../../../assets/img/card/voorgu_6.png" width="275" height="418" alt="" />
                </div>
              </div>
              <!--[D] 클릭시 활성화 : on 클래스 추가-->
              <div class="card_list_ly">
                <div class="card_list_ly_box">
                  <img src="../../../../assets/img/layer/voorgu_6.png" width="1080" alt="" />
                  <button type="button" aria-label="닫기"></button>
                </div>
              </div>
            </li>
            <li class="card_list_item">
              <div class="wrapper elem" style="transform: perspective(600px) rotateY(0deg) rotateX(0deg);">
                <div class="bloc">
                  <img src="../../../../assets/img/card/voorgu_7.png" width="275" height="418" alt="" />
                </div>
              </div>
              <!--[D] 클릭시 활성화 : on 클래스 추가-->
              <div class="card_list_ly">
                <div class="card_list_ly_box">
                  <img src="../../../../assets/img/layer/voorgu_7.png" width="1080" alt="" />
                  <button type="button" aria-label="닫기"></button>
                </div>
              </div>
            </li>
            <li class="card_list_item">
              <div class="wrapper elem" style="transform: perspective(600px) rotateY(0deg) rotateX(0deg);">
                <div class="bloc">
                  <img src="../../../../assets/img/card/voorgu_8.png" width="275" height="418" alt="" />
                </div>
              </div>
              <!--[D] 클릭시 활성화 : on 클래스 추가-->
              <div class="card_list_ly">
                <div class="card_list_ly_box">
                  <img src="../../../../assets/img/layer/voorgu_8.png" width="1080" alt="" />
                  <button type="button" aria-label="닫기"></button>
                </div>
              </div>
            </li>
            <li class="card_list_item">
              <div class="wrapper elem" style="transform: perspective(600px) rotateY(0deg) rotateX(0deg);">
                <div class="bloc">
                  <img src="../../../../assets/img/card/voorgu_9.png" width="275" height="418" alt="" />
                </div>
              </div>
              <!--[D] 클릭시 활성화 : on 클래스 추가-->
              <div class="card_list_ly">
                <div class="card_list_ly_box">
                  <img src="../../../../assets/img/layer/voorgu_9.png" width="1080" alt="" />
                  <button type="button" aria-label="닫기"></button>
                </div>
              </div>
            </li>
          </ul>
          <ul class="card_list list2">
            <li class="card_list_item">
              <div class="wrapper elem" style="transform: perspective(600px) rotateY(0deg) rotateX(0deg);">
                <div class="bloc">
                  <img src="../../../../assets/img/card/utgigu_1.png" width="275" height="418" alt="" />
                </div>
              </div>
              <!--[D] 클릭시 활성화 : on 클래스 추가-->
              <div class="card_list_ly">
                <div class="card_list_ly_box">
                  <img src="../../../../assets/img/layer/utgigu_1.png" width="1080" alt="" />
                  <button type="button" aria-label="닫기"></button>
                </div>
              </div>
            </li>
            <li class="card_list_item">
              <div class="wrapper elem" style="transform: perspective(600px) rotateY(0deg) rotateX(0deg);">
                <div class="bloc">
                  <img src="../../../../assets/img/card/utgigu_2.png" width="275" height="418" alt="" />
                </div>
              </div>
              <!--[D] 클릭시 활성화 : on 클래스 추가-->
              <div class="card_list_ly">
                <div class="card_list_ly_box">
                  <img src="../../../../assets/img/layer/utgigu_2.png" width="1080" alt="" />
                  <button type="button" aria-label="닫기"></button>
                </div>
              </div>
            </li>
            <li class="card_list_item">
              <div class="wrapper elem" style="transform: perspective(600px) rotateY(0deg) rotateX(0deg);">
                <div class="bloc">
                  <img src="../../../../assets/img/card/utgigu_3.png" width="275" height="418" alt="" />
                </div>
              </div>
              <!--[D] 클릭시 활성화 : on 클래스 추가-->
              <div class="card_list_ly">
                <div class="card_list_ly_box">
                  <img src="../../../../assets/img/layer/utgigu_3.png" width="1080" alt="" />
                  <button type="button" aria-label="닫기"></button>
                </div>
              </div>
            </li>
            <li class="card_list_item">
              <div class="wrapper elem" style="transform: perspective(600px) rotateY(0deg) rotateX(0deg);">
                <div class="bloc">
                  <img src="../../../../assets/img/card/utgigu_4.png" width="275" height="418" alt="" />
                </div>
              </div>
              <!--[D] 클릭시 활성화 : on 클래스 추가-->
              <div class="card_list_ly">
                <div class="card_list_ly_box">
                  <img src="../../../../assets/img/layer/utgigu_4.png" width="1080" alt="" />
                  <button type="button" aria-label="닫기"></button>
                </div>
              </div>
            </li>
            <li class="card_list_item">
              <div class="wrapper elem" style="transform: perspective(600px) rotateY(0deg) rotateX(0deg);">
                <div class="bloc">
                  <img src="../../../../assets/img/card/utgigu_5.png" width="275" height="418" alt="" />
                </div>
              </div>
              <!--[D] 클릭시 활성화 : on 클래스 추가-->
              <div class="card_list_ly">
                <div class="card_list_ly_box">
                  <img src="../../../../assets/img/layer/utgigu_5.png" width="1080" alt="" />
                  <button type="button" aria-label="닫기"></button>
                </div>
              </div>
            </li>
            <li class="card_list_item">
              <div class="wrapper elem" style="transform: perspective(600px) rotateY(0deg) rotateX(0deg);">
                <div class="bloc">
                  <img src="../../../../assets/img/card/utgigu_6.png" width="275" height="418" alt="" />
                </div>
              </div>
              <!--[D] 클릭시 활성화 : on 클래스 추가-->
              <div class="card_list_ly">
                <div class="card_list_ly_box">
                  <img src="../../../../assets/img/layer/utgigu_6.png" width="1080" alt="" />
                  <button type="button" aria-label="닫기"></button>
                </div>
              </div>
            </li>
          </ul>
          <ul class="card_list list3">
            <li class="card_list_item">
              <div class="wrapper elem" style="transform: perspective(600px) rotateY(0deg) rotateX(0deg);">
                <div class="bloc">
                  <img src="../../../../assets/img/card/sagupalgu_1.png" width="275" height="418" alt="" />
                </div>
              </div>
              <!--[D] 클릭시 활성화 : on 클래스 추가-->
              <div class="card_list_ly">
                <div class="card_list_ly_box">
                  <img src="../../../../assets/img/layer/sagupalgu_1.png" width="1080" alt="" />
                  <button type="button" aria-label="닫기"></button>
                </div>
              </div>
            </li>
            <li class="card_list_item">
              <div class="wrapper elem" style="transform: perspective(600px) rotateY(0deg) rotateX(0deg);">
                <div class="bloc">
                  <img src="../../../../assets/img/card/sagupalgu_2.png" width="275" height="418" alt="" />
                </div>
              </div>
              <!--[D] 클릭시 활성화 : on 클래스 추가-->
              <div class="card_list_ly">
                <div class="card_list_ly_box">
                  <img src="../../../../assets/img/layer/sagupalgu_2.png" width="1080" alt="" />
                  <button type="button" aria-label="닫기"></button>
                </div>
              </div>
            </li>
            <li class="card_list_item">
              <div class="wrapper elem" style="transform: perspective(600px) rotateY(0deg) rotateX(0deg);">
                <div class="bloc">
                  <img src="../../../../assets/img/card/sagupalgu_3.png" width="275" height="418" alt="" />
                </div>
              </div>
              <!--[D] 클릭시 활성화 : on 클래스 추가-->
              <div class="card_list_ly">
                <div class="card_list_ly_box">
                  <img src="../../../../assets/img/layer/sagupalgu_3.png" width="1080" alt="" />
                  <button type="button" aria-label="닫기"></button>
                </div>
              </div>
            </li>
            <li class="card_list_item">
              <div class="wrapper elem" style="transform: perspective(600px) rotateY(0deg) rotateX(0deg);">
                <div class="bloc">
                  <img src="../../../../assets/img/card/sagupalgu_4.png" width="275" height="418" alt="" />
                </div>
              </div>
              <!--[D] 클릭시 활성화 : on 클래스 추가-->
              <div class="card_list_ly">
                <div class="card_list_ly_box">
                  <img src="../../../../assets/img/layer/sagupalgu_4.png" width="1080" alt="" />
                  <button type="button" aria-label="닫기"></button>
                </div>
              </div>
            </li>
            <li class="card_list_item">
              <div class="wrapper elem" style="transform: perspective(600px) rotateY(0deg) rotateX(0deg);">
                <div class="bloc">
                  <img src="../../../../assets/img/card/sagupalgu_5.png" width="275" height="418" alt="" />
                </div>
              </div>
              <!--[D] 클릭시 활성화 : on 클래스 추가-->
              <div class="card_list_ly">
                <div class="card_list_ly_box">
                  <!--[D] 이미지 받아서 변경 : 재키아이둘-->
                  <img src="../../../../assets/img/layer/sagupalgu_5.png" width="1080" alt="" />
                  <button type="button" aria-label="닫기"></button>
                </div>
              </div>
            </li>
            <li class="card_list_item">
              <div class="wrapper elem" style="transform: perspective(600px) rotateY(0deg) rotateX(0deg);">
                <div class="bloc">
                  <img src="../../../../assets/img/card/sagupalgu_6.png" width="275" height="418" alt="" />
                </div>
              </div>
              <!--[D] 클릭시 활성화 : on 클래스 추가-->
              <div class="card_list_ly">
                <div class="card_list_ly_box">
                  <img src="../../../../assets/img/layer/sagupalgu_6.png" width="1080" alt="" />
                  <button type="button" aria-label="닫기"></button>
                </div>
              </div>
            </li>
            <li class="card_list_item">
              <div class="wrapper elem" style="transform: perspective(600px) rotateY(0deg) rotateX(0deg);">
                <div class="bloc">
                  <img src="../../../../assets/img/card/sagupalgu_7.png" width="275" height="418" alt="" />
                </div>
              </div>
              <!--[D] 클릭시 활성화 : on 클래스 추가-->
              <div class="card_list_ly">
                <div class="card_list_ly_box">
                  <img src="../../../../assets/img/layer/sagupalgu_7.png" width="1080" alt="" />
                  <button type="button" aria-label="닫기"></button>
                </div>
              </div>
            </li>
            <li class="card_list_item">
              <div class="wrapper elem" style="transform: perspective(600px) rotateY(0deg) rotateX(0deg);">
                <div class="bloc">
                  <img src="../../../../assets/img/card/sagupalgu_8.png" width="275" height="418" alt="" />
                </div>
              </div>
              <!--[D] 클릭시 활성화 : on 클래스 추가-->
              <div class="card_list_ly">
                <div class="card_list_ly_box">
                  <img src="../../../../assets/img/layer/sagupalgu_8.png" width="1080" alt="" />
                  <button type="button" aria-label="닫기"></button>
                </div>
              </div>
            </li>
          </ul>
          <ul class="card_list list4">
            <li class="card_list_item">
              <div class="wrapper elem" style="transform: perspective(600px) rotateY(0deg) rotateX(0deg);">
                <div class="bloc">
                  <img src="../../../../assets/img/card/badalagu_1.png" width="275" height="418" alt="" />
                </div>
              </div>
              <!--[D] 클릭시 활성화 : on 클래스 추가-->
              <div class="card_list_ly">
                <div class="card_list_ly_box">
                  <img src="../../../../assets/img/layer/badalagu_1.png" width="1080" alt="" />
                  <button type="button" aria-label="닫기"></button>
                </div>
              </div>
            </li>
            <li class="card_list_item">
              <div class="wrapper elem" style="transform: perspective(600px) rotateY(0deg) rotateX(0deg);">
                <div class="bloc">
                  <img src="../../../../assets/img/card/badalagu_2.png" width="275" height="418" alt="" />
                </div>
              </div>
              <!--[D] 클릭시 활성화 : on 클래스 추가-->
              <div class="card_list_ly">
                <div class="card_list_ly_box">
                  <img src="../../../../assets/img/layer/badalagu_2.png" width="1080" alt="" />
                  <button type="button" aria-label="닫기"></button>
                </div>
              </div>
            </li>
            <li class="card_list_item">
              <div class="wrapper elem" style="transform: perspective(600px) rotateY(0deg) rotateX(0deg);">
                <div class="bloc">
                  <img src="../../../../assets/img/card/badalagu_3.png" width="275" height="418" alt="" />
                </div>
              </div>
              <!--[D] 클릭시 활성화 : on 클래스 추가-->
              <div class="card_list_ly">
                <div class="card_list_ly_box">
                  <img src="../../../../assets/img/layer/badalagu_3.png" width="1080" alt="" />
                  <button type="button" aria-label="닫기"></button>
                </div>
              </div>
            </li>
            <li class="card_list_item">
              <div class="wrapper elem" style="transform: perspective(600px) rotateY(0deg) rotateX(0deg);">
                <div class="bloc">
                  <img src="../../../../assets/img/card/badalagu_4.png" width="275" height="418" alt="" />
                </div>
              </div>
              <!--[D] 클릭시 활성화 : on 클래스 추가-->
              <div class="card_list_ly">
                <div class="card_list_ly_box">
                  <img src="../../../../assets/img/layer/badalagu_4.png" width="1080" alt="" />
                  <button type="button" aria-label="닫기"></button>
                </div>
              </div>
            </li>
            <li class="card_list_item">
              <div class="wrapper elem" style="transform: perspective(600px) rotateY(0deg) rotateX(0deg);">
                <div class="bloc">
                  <img src="../../../../assets/img/card/badalagu_5.png" width="275" height="418" alt="" />
                </div>
              </div>
              <!--[D] 클릭시 활성화 : on 클래스 추가-->
              <div class="card_list_ly">
                <div class="card_list_ly_box">
                  <img src="../../../../assets/img/layer/badalagu_5.png" width="1080" alt="" />
                  <button type="button" aria-label="닫기"></button>
                </div>
              </div>
            </li>
            <li class="card_list_item">
              <div class="wrapper elem" style="transform: perspective(600px) rotateY(0deg) rotateX(0deg);">
                <div class="bloc">
                  <img src="../../../../assets/img/card/badalagu_6.png" width="275" height="418" alt="" />
                </div>
              </div>
              <!--[D] 클릭시 활성화 : on 클래스 추가-->
              <div class="card_list_ly">
                <div class="card_list_ly_box">
                  <img src="../../../../assets/img/layer/badalagu_6.png" width="1080" alt="" />
                  <button type="button" aria-label="닫기"></button>
                </div>
              </div>
            </li>
          </ul>
          <ul class="card_list list5">
            <li class="card_list_item">
              <div class="wrapper elem" style="transform: perspective(600px) rotateY(0deg) rotateX(0deg);">
                <div class="bloc">
                  <img src="../../../../assets/img/card/nanugu_1.png" width="275" height="418" alt="" />
                </div>
              </div>
              <!--[D] 클릭시 활성화 : on 클래스 추가-->
              <div class="card_list_ly">
                <div class="card_list_ly_box">
                  <img src="../../../../assets/img/layer/nanugu_1.png" width="1080" alt="" />
                  <button type="button" aria-label="닫기"></button>
                </div>
              </div>
            </li>
            <li class="card_list_item">
              <div class="wrapper elem" style="transform: perspective(600px) rotateY(0deg) rotateX(0deg);">
                <div class="bloc">
                  <img src="../../../../assets/img/card/nanugu_2.png" width="275" height="418" alt="" />
                </div>
              </div>
              <!--[D] 클릭시 활성화 : on 클래스 추가-->
              <div class="card_list_ly">
                <div class="card_list_ly_box">
                  <img src="../../../../assets/img/layer/nanugu_2.png" width="1080" alt="" />
                  <button type="button" aria-label="닫기"></button>
                </div>
              </div>
            </li>
            <li class="card_list_item">
              <div class="wrapper elem" style="transform: perspective(600px) rotateY(0deg) rotateX(0deg);">
                <div class="bloc">
                  <img src="../../../../assets/img/card/nanugu_3.png" width="275" height="418" alt="" />
                </div>
              </div>
              <!--[D] 클릭시 활성화 : on 클래스 추가-->
              <div class="card_list_ly">
                <div class="card_list_ly_box">
                  <img src="../../../../assets/img/layer/nanugu_3.png" width="1080" alt="" />
                  <button type="button" aria-label="닫기"></button>
                </div>
              </div>
            </li>
            <li class="card_list_item">
              <div class="wrapper elem" style="transform: perspective(600px) rotateY(0deg) rotateX(0deg);">
                <div class="bloc">
                  <img src="../../../../assets/img/card/nanugu_4.png" width="275" height="418" alt="" />
                </div>
              </div>
              <!--[D] 클릭시 활성화 : on 클래스 추가-->
              <div class="card_list_ly">
                <div class="card_list_ly_box">
                  <img src="../../../../assets/img/layer/nanugu_4.png" width="1080" alt="" />
                  <button type="button" aria-label="닫기"></button>
                </div>
              </div>
            </li>
            <li class="card_list_item">
              <div class="wrapper elem" style="transform: perspective(600px) rotateY(0deg) rotateX(0deg);">
                <div class="bloc">
                  <img src="../../../../assets/img/card/nanugu_5.png" width="275" height="418" alt="" />
                </div>
              </div>
              <!--[D] 클릭시 활성화 : on 클래스 추가-->
              <div class="card_list_ly">
                <div class="card_list_ly_box">
                  <img src="../../../../assets/img/layer/nanugu_5.png" width="1080" alt="" />
                  <button type="button" aria-label="닫기"></button>
                </div>
              </div>
            </li>
            <li class="card_list_item">
              <div class="wrapper elem" style="transform: perspective(600px) rotateY(0deg) rotateX(0deg);">
                <div class="bloc">
                  <img src="../../../../assets/img/card/nanugu_6.png" width="275" height="418" alt="" />
                </div>
              </div>
              <!--[D] 클릭시 활성화 : on 클래스 추가-->
              <div class="card_list_ly">
                <div class="card_list_ly_box">
                  <img src="../../../../assets/img/layer/nanugu_6.png" width="1080" alt="" />
                  <button type="button" aria-label="닫기"></button>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- //scroll__section2 -->
</article>
