<div class="container">
  <!-- header -->
  <header class="header">
    <div class="header__logo">
      <h1 class="blind">부캐시대</h1>
    </div>
    <nav class="header__nav">
      <ul class="header__nav__list">
        <li class="header__nav__item on">
          <a href="#article_1" class="header__nav__menu program"><span class="blind">program</span></a>
        </li>
        <li class="header__nav__item">
          <a href="#article_2" class="header__nav__menu persona"><span class="blind">persona</span></a>
        </li>
        <li class="header__nav__item">
          <a href="#article_3" class="header__nav__menu metaverse"><span class="blind">metaverse</span></a>
        </li>
      </ul>
    </nav>
  </header>
  <!-- //header -->
  <app-program></app-program>
  <app-persona></app-persona>
  <app-metaverse></app-metaverse>
  <!-- 투표 참여 팝업 : 수정 필요 -->
  <div class="ly_vote on">
    <div class="ly_vote_box">
      <h1 class="blind">부캐 전성시대 투표방법</h1>
      <p class="blind">투표를 진행해주신 분들은 추첨을 통해 부캐가 직접 소원을 이루어 드립니다.</p>
      <div class="ly_vote_img"><img src="../../../../assets/img/ly_vote.png" alt="부캐전성시대 투표 방법" /></div>
      <a href="#" class="ly_vote_link"><img src="../../../../assets/img/bg_section_1_box3.png" alt="메타버스 새울시 투표하러 가기"></a>
      <button type="button" class="ly_vote_close"><span class="blind">팝업닫기</span></button>
    </div>
  </div>
</div>
