<div class="container">
  <!-- header -->
  <header class="header">
    <div class="header__logo">
      <h1 class="blind">부캐시대</h1>
    </div>
    <nav class="header__nav">
      <ul class="header__nav__list">
        <li class="header__nav__item on">
          <a href="#article_1" class="header__nav__menu program"><span class="blind">program</span></a>
        </li>
        <li class="header__nav__item">
          <a href="#article_2" class="header__nav__menu persona" click-stop-propagation><span class="blind">persona</span></a>
        </li>
        <li class="header__nav__item">
          <a href="#article_3" class="header__nav__menu metaverse" click-stop-propagation><span class="blind">metaverse</span></a>
        </li>
      </ul>
    </nav>
  </header>
  <!-- //header -->
  <app-program></app-program>
  <app-persona></app-persona>
  <app-metaverse></app-metaverse>
</div>
