<article id="article_3">
  <h2 class="blind ">metaverse info</h2>
  <!-- scroll__section5 -->
  <div class="scroll__section scroll__section5 ">
    <div class="scroll__section__inner ">
      <div class="section5__box1 ">
        <div class="box "><img src="../../../../assets/img/bg_section_5_box1.png " alt="WITH US TO INFINITY "></div>
      </div>
      <div class="section5__box2 ">
        <div class="metalink ">
          <div class="metalink__inner ">
            <h3 class="metalink__title "><span class="blind ">Metalink</span></h3>
            <ul class="metalink__list ">
              <li class="metalink__item ">
                <a href="# " class="metalink__link ">
                  <div class="metalink__img "></div>
                  <span class="metalink__name ">부캐전성시대</span>
                </a>
              </li>
              <li class="metalink__item ">
                <a href="# " class="metalink__link ">
                  <div class="metalink__img "></div>
                  <span class="metalink__name ">백돌이대탈출</span>
                </a>
              </li>
              <li class="metalink__item ">
                <a href="# " class="metalink__link ">
                  <div class="metalink__img "></div>
                  <span class="metalink__name ">부캐머시기</span>
                </a>
              </li>
              <li class="metalink__item ">
                <a href="# " class="metalink__link ">
                  <div class="metalink__img "></div>
                  <span class="metalink__name ">무슨사이트</span>
                </a>
              </li>
              <li class="metalink__item ">
                <a href="# " class="metalink__link ">
                  <div class="metalink__img "></div>
                  <span class="metalink__name ">부캐부캐체인지</span>
                </a>
              </li>
              <li class="metalink__item ">
                <a href="# " class="metalink__link ">
                  <div class="metalink__img "></div>
                  <span class="metalink__name ">일이삼사오육칠팔</span>
                </a>
              </li>
              <li class="metalink__item ">
                <a href="# " class="metalink__link ">
                  <div class="metalink__img "></div>
                  <span class="metalink__name ">일이삼사오육칠팔</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- //scroll__section5 -->
</article>
