@charset "UTF-8";
body {
  min-width: 1100px;
  height: 100%;
  background-color: black;
  font-family: 'rixrak-sans-pro', 'Spoqa Han Sans Neo', 'Malgun Gothic', '맑은 고딕', Helvetica, 'Apple SD Gothic Neo', Dotum, '돋움', sans-serif; }

.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden; }

.container {
  overflow: hidden;
  width: 100%; }

.header {
  display: flex;
  position: fixed;
  width: 100%;
  padding: 60px 0 0;
  z-index: 100;
  align-items: center; }
  .header__logo {
    width: 150px;
    height: 41px;
    margin-left: 70px;
    background: url("../img/bg_header_logo.png") center no-repeat;
    background-size: 150px 41px; }
  .header__nav {
    flex: 1;
    padding-left: 19%; }
    .header__nav__list {
      display: flex; }
    .header__nav__item {
      position: relative; }
      .header__nav__item + .header__nav__item {
        margin-left: 6.8vw; }
      .header__nav__item.on::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: -5px;
        right: -5px;
        height: 6px;
        background-color: #fff; }
    .header__nav__menu {
      display: block;
      padding: 16px 0;
      box-sizing: content-box; }
      .header__nav__menu.program {
        width: 157px;
        height: 18px;
        background: url("../img/bg_header_program.png") center no-repeat;
        background-size: 157px 18px; }
      .header__nav__menu.persona {
        width: 158px;
        height: 18px;
        background: url("../img/bg_header_persona.png") center no-repeat;
        background-size: 150px 18px; }
      .header__nav__menu.metaverse {
        width: 192px;
        height: 18px;
        background: url("../img/bg_header_metaverse.png") center no-repeat;
        background-size: 192px 18px; }

.scroll__section {
  position: relative; }
  .scroll__section__inner {
    width: 1435px;
    height: 100%;
    margin: 0 auto; }

.scroll__section1 {
  height: 1380px;
  background: url("../img/bg_section_1.jpg") center no-repeat;
  background-size: 1920px 1380px; }
  .scroll__section1 .section1__box1 {
    position: absolute;
    top: 162px;
    left: 50%;
    width: 1477px;
    height: 505px;
    margin-left: -738.5px; }
  .scroll__section1 .section1__box2 {
    position: absolute;
    top: 390px;
    left: 50%;
    width: 1920px;
    height: 990px;
    margin-left: -960px; }
  .scroll__section1 .section1__box3 {
    position: absolute;
    top: 1177px;
    left: 50%;
    width: 350px;
    height: 83px;
    margin-left: -175px; }
    .scroll__section1 .section1__box3 a {
      display: block; }

.scroll__section2 {
  height: 764px;
  background: url("../img/bg_section_2.jpg") center #000 no-repeat; }
  .scroll__section2 .section2__box1 {
    position: absolute;
    top: 217px;
    left: 50%;
    width: 906px;
    height: 331px;
    margin-left: -453px; }
    .scroll__section2 .section2__box1 .box {
      position: relative;
      z-index: 10; }
    .scroll__section2 .section2__box1::before, .scroll__section2 .section2__box1::after {
      content: '';
      display: block;
      position: absolute;
      z-index: 5; }
    .scroll__section2 .section2__box1::before {
      top: -121px;
      left: -208px;
      width: 347px;
      height: 432px;
      background: url("../img/bg_section_2_card1.png") no-repeat;
      background-size: 347px 432px; }
    .scroll__section2 .section2__box1::after {
      top: 14px;
      right: -248px;
      width: 415px;
      height: 463px;
      background: url("../img/bg_section_2_card2.png") no-repeat;
      background-size: 415px 463px; }

.scroll__section5 {
  height: 1770px;
  background-color: #000; }
  .scroll__section5 .section5__box2 .metalink {
    position: absolute;
    top: 310px;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    height: 1000px;
    background: url("../img/bg_section_5_box2.png") no-repeat;
    background-size: 500px 1000px; }
    .scroll__section5 .section5__box2 .metalink__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 150px 50px; }
    .scroll__section5 .section5__box2 .metalink__item {
      width: 50%;
      margin-bottom: 30px;
      text-align: center; }
      .scroll__section5 .section5__box2 .metalink__item:first-child {
        width: 100%; }
    .scroll__section5 .section5__box2 .metalink__img {
      width: 121px;
      height: 121px;
      margin: 0 auto;
      background: url("../img/bg_metalink.png") center no-repeat;
      background-size: 121px 121px; }
    .scroll__section5 .section5__box2 .metalink__name {
      display: block;
      overflow: hidden;
      font-weight: bold;
      font-size: 20px;
      color: #ccc;
      text-overflow: ellipsis;
      white-space: nowrap; }
    .scroll__section5 .section5__box2 .metalink__link {
      display: block;
      text-decoration: none; }

.ly_vote {
  display: none;
  position: absolute;
  top: 50px;
  left: 50%;
  z-index: 100;
  transform: translateX(-50%);
  width: 768px;
  height: 2608px; }
  .ly_vote_box {
    position: relative; }
    .ly_vote_box img {
      width: 100%; }
  .ly_vote_link {
    position: absolute;
    bottom: 45px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 350px;
    height: 83px; }
  .ly_vote_close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 23px;
    height: 23px; }
    .ly_vote_close::before, .ly_vote_close::after {
      position: absolute;
      top: 0;
      left: 11px;
      width: 1px;
      height: 26px;
      background-color: #fff;
      content: ''; }
    .ly_vote_close::before {
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
    .ly_vote_close::after {
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }
  .ly_vote.on {
    display: block; }

.section1__box1.bounceInfinite {
  -webkit-animation: fadeInUp 0.5s both, bounceInfinite 1s infinite alternate;
  animation: fadeInUp 0.5s both, bounceInfinite 1s infinite alternate; }

@-webkit-keyframes bounceInfinite {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(-20px); } }
@keyframes bounceInfinite {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(-20px); } }

/*# sourceMappingURL=main.css.map */
