.scroll__section3 {
  height: 893px;
  background: #000 url("../img/bg_section3_line.png") no-repeat center 3149px;
  background-size: 1920px auto;
}

.scroll__section3 .bg_planet {
  width: 1920px;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 10;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.scroll__section3 .section3__box1 {
  position: absolute;
  top: 1389px;
  left: 50%;
  width: 861px;
  height: 456px;
  margin-left: -430.5px;
}

.scroll__section3 .section3__box1 .box {
  position: absolute;
  top: 110px;
  left: 50%;
  margin-left: -310px;
  width: 610px;
}

.scroll__section3 .section3__box1 .box p {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 24px;
  color: #fff;
  letter-spacing: 1.2px;
  text-align: center;
  line-height: 55px;
}

.scroll__section3 .section3__box2 {
  position: absolute;
  top: 320px;
  left: 50%;
  width: 1920px;
  height: 500px;
  margin-left: -960px;
}

.scroll__section3 .section3__box2 .planet1 {
  position: absolute;
  top: 260px;
  left: 50%;
  margin-left: -520px;
  -webkit-animation: float 2s infinite linear;
  animation: float 2s infinite linear;
  z-index: 10;
}

.scroll__section3 .section3__box2 .planet2 {
  position: absolute;
  top: 260px;
  left: 50%;
  margin-left: 20px;
  -webkit-animation: float-reverse 2s infinite linear;
  animation: float-reverse 2s infinite linear;
}

.scroll__section3 .section3__box3 {
  position: absolute;
  top: 1998px;
  left: 50%;
  width: 500px;
  height: 140px;
  margin-left: -250px;
}

.scroll__section3 .section3__box4 {
  position: absolute;
  top: 2170px;
  left: 50%;
  width: 600px;
  height: 40px;
  margin-left: -300px;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  letter-spacing: 1.2px;
}

.scroll__section3 .section3__box5 {
  position: absolute;
  top: 2368px;
  left: 50%;
  width: 600px;
  height: 24px;
  margin-left: -300px;
  font-size: 24px;
  color: #fff;
  line-height: 1;
  text-align: center;
}

.scroll__section3 .section3__box6 {
  position: absolute;
  top: 2416px;
  left: 50%;
  width: 600px;
  height: 24px;
  margin-left: -300px;
  font-size: 24px;
  color: #fff;
  line-height: 1;
  text-align: center;
}

.scroll__section3 .section3__box7 {
  position: absolute;
  top: 2464px;
  left: 50%;
  width: 600px;
  height: 24px;
  margin-left: -300px;
  font-size: 24px;
  color: #fff;
  line-height: 1;
  text-align: center;
}

.scroll__section3 .section3__box8 {
  position: absolute;
  top: 2512px;
  left: 50%;
  width: 600px;
  height: 24px;
  margin-left: -300px;
  font-size: 24px;
  color: #fff;
  line-height: 1;
  text-align: center;
}

.scroll__section3 .section3__box9 {
  position: absolute;
  top: 2560px;
  left: 50%;
  width: 700px;
  height: 24px;
  margin-left: -350px;
  font-size: 24px;
  color: #fff;
  line-height: 1;
  text-align: center;
}

.scroll__section3 .section3__box10 {
  position: absolute;
  top: 2608px;
  left: 50%;
  width: 600px;
  height: 24px;
  margin-left: -300px;
  font-size: 24px;
  color: #fff;
  line-height: 1;
  text-align: center;
}

.scroll__section3 .section3__box11 {
  position: absolute;
  top: 2656px;
  left: 50%;
  width: 600px;
  height: 24px;
  margin-left: -300px;
  font-size: 24px;
  color: #fff;
  line-height: 1;
  text-align: center;
}

.scroll__section3 .section3__box2_1 .img_saeul {
  display: block;
  margin: 295px auto 0;
}

.scroll__section3 .section3__box2_1 .img_saeul_text {
  margin-top: 30px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #fff;
}

.scroll__section3 .section3__box2_1 .img_saeul_text2 {
  margin-top: 130px;
  font-size: 24px;
  line-height: 1.88;
  text-align: center;
  color: #fff;
}

.scroll__section3 .section3__box2_1 a {
  display: block;
  width: 350px;
  margin: 60px auto 0;
}

.map {
  margin-top: 135px;
  height: 610px;
}

.map_img {
  position: relative;
  width: 650px;
  height: 524px;
  margin: 0 auto;
  background: url("../img/bg_saeul.png") no-repeat 0 0;
}

.map_img::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
}

.v1 .map_img::after {
  background-image: url("../img/bg_saeul_r.png");
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.v2 .map_img::after {
  background-image: url("../img/bg_saeul_y.png");
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.v3 .map_img::after {
  background-image: url("../img/bg_saeul_g.png");
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.v4 .map_img::after {
  background-image: url("../img/bg_saeul_p.png");
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.v5 .map_img::after {
  background-image: url("../img/bg_saeul_b.png");
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.map_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 40px auto 0;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.map_list li {
  width: 275px;
  height: 42px;
  background-position: center 0;
  background-repeat: no-repeat;
  margin: 0 8px;
}

.map_list li button {
  width: 275px;
  height: 42px;
}

.map_list li:nth-child(1) {
  background-image: url("../img/voorgu_off.png");
}

.map_list li:nth-child(2) {
  background-image: url("../img/utgigu_off.png");
}

.map_list li:nth-child(3) {
  background-image: url("../img/sagupalgu_off.png");
}

.map_list li:nth-child(4) {
  background-image: url("../img/badalagu_off.png");
}

.map_list li:nth-child(5) {
  background-image: url("../img/nanugu_off.png");
}

.v1 .map_list li:nth-child(1) {
  background-image: url("../img/voorgu_on.png");
}

.v2 .map_list li:nth-child(2) {
  background-image: url("../img/utgigu_on.png");
}

.v3 .map_list li:nth-child(3) {
  background-image: url("../img/sagupalgu_on.png");
}

.v4 .map_list li:nth-child(4) {
  background-image: url("../img/badalagu_on.png");
}

.v5 .map_list li:nth-child(5) {
  background-image: url("../img/nanugu_on.png");
}

.map_card {
  width: 1190px;
  margin: 0 auto;
}

.card_img {
  display: none;
  margin: 200px auto 0;
  width: 1000px;
  height: 950px;
}

.v1.map_card .img1 {
  display: block;
}

.v2.map_card .img2 {
  display: block;
}

.v3.map_card .img3 {
  display: block;
}

.v4.map_card .img4 {
  display: block;
}

.v5.map_card .img5 {
  display: block;
}

.card_img_title {
  height: 80px;
  background: url("../img/voorgu.png") no-repeat center 0;
}

.img2 .card_img_title {
  background: url("../img/utgigu_title.png") no-repeat center 0;
}

.img3 .card_img_title {
  background: url("../img/sagupalgu_title.png") no-repeat center 0;
}

.img4 .card_img_title {
  background: url("../img/badalagu_title.png") no-repeat center 0;
}

.img5 .card_img_title {
  background: url("../img/nanugu_title.png") no-repeat center 0;
}

.card_img_person {
  margin-top: -80px;
  height: 1000px;
  background: url("../img/voorgu_leader.png") no-repeat center 0;
}

.img2 .card_img_person {
  background: url("../img/utgigu_leader.png") no-repeat center 0;
}

.img3 .card_img_person {
  background: url("../img/sagupalgu_leader.png") no-repeat center 0;
}

.img4 .card_img_person {
  background: url("../img/badalagu_leader.png") no-repeat center 0;
}

.img5 .card_img_person {
  background: url("../img/nanugu_leader.png") no-repeat center 0;
}

.card_list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 190px;
  display: none;
}

.v1 .card_list.list1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.v2 .card_list.list2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.v3 .card_list.list3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.v4 .card_list.list4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.v5 .card_list.list5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card_list_item {
  margin: 0 0 85px 14px;
}

.card_list_item:nth-child(4n+1) {
  margin-left: 0;
}

.card_list_ly {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
}

.card_list_ly.on {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card_list_ly_box {
  position: relative;
}

.card_list_ly_box button {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 0;
  right: 0;
}

.wrapper {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  margin: 0 auto;
  width: 275px;
  height: 418px;
}

.bloc {
  height: 100%;
  width: 100%;
  display: block;
  position: relative;
  cursor: pointer;
}

@-webkit-keyframes float {
  from {
    -webkit-transform: rotate(0deg) translate3d(3px, 0, 0) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translate3d(3px, 0, 0) rotate(-360deg);
  }
}

@keyframes float {
  from {
    -webkit-transform: rotate(0deg) translate3d(3px, 0, 0) rotate(0deg);
            transform: rotate(0deg) translate3d(3px, 0, 0) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translate3d(3px, 0, 0) rotate(-360deg);
            transform: rotate(360deg) translate3d(3px, 0, 0) rotate(-360deg);
  }
}

@-webkit-keyframes float-reverse {
  from {
    -webkit-transform: rotate(0deg) translate3d(3px, 0, 0) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg) translate3d(3px, 0, 0) rotate(360deg);
  }
}

@keyframes float-reverse {
  from {
    -webkit-transform: rotate(0deg) translate3d(3px, 0, 0) rotate(0deg);
            transform: rotate(0deg) translate3d(3px, 0, 0) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg) translate3d(3px, 0, 0) rotate(360deg);
            transform: rotate(-360deg) translate3d(3px, 0, 0) rotate(360deg);
  }
}
/*# sourceMappingURL=page2.css.map */