<article id="article_1">
  <h2 class="blind">program info</h2>
  <!-- scroll__section1 -->
  <div class="scroll__section scroll__section1">
    <div class="scroll__section__inner">
      <div data-wow-delay="0.5s" class="section1__box1 wow bounceInfinite">
        <div class="box"><img src="../../../../assets/img/bg_section_1_box1.png" alt="부캐가간다"></div>
      </div>
      <div data-wow-delay="1s" class="section1__box2 wow fadeInUp">
        <div class="box"><img src="../../../../assets/img/bg_section_1_box2.png" alt="마미손"></div>
      </div>
      <div data-wow-delay="1.5s" class="section1__box3 wow fadeInUp">
        <div class="box"><img src="../../../../assets/img/bg_section_1_box3.png" alt="부캐가간다"></div>
      </div>
    </div>
  </div>
  <!-- //scroll__section1 -->
  <!-- scroll__section2 -->
  <div class="scroll__section scroll__section2">
    <div class="scroll__section__inner">
      <div data-wow-delay="0.5s" class="section2__box1 wow fadeInUp">
        <div class="box"><img src="../../../../assets/img/bg_section_2_box1.png" alt="부캐전성시대, 부캐 리얼버라이어티 예능"></div>
      </div>
      <div data-wow-delay="1s" class="section2__box2 wow fadeInUp">
        <div class="box">
          <p>국내 최초 부캐, 마미손! 그가 사는 별, 페르소나 행성<br>다섯 분파 부캐들이 이야기하는 언리얼 버라이어티 예능</p>
        </div>
      </div>
    </div>
  </div>
  <!-- //scroll__section2 -->
</article>
