<article id="article_1">
  <h2 class="blind">program info</h2>
  <!-- scroll__section1 -->
  <div class="scroll__section scroll__section1">
    <div class="scroll__section__inner">
      <div data-wow-delay="0.5s" class="section1__box1 wow bounceInfinite">
        <div class="box"><img src="../../../../assets/img/bg_section_1_box1.png" alt="부캐가간다"></div>
      </div>
      <div data-wow-delay="1s" class="section1__box2 wow fadeInUp">
        <div class="box"><img src="../../../../assets/img/bg_section_1_box2.png" alt="메인인물"></div>
      </div>
      <div class="section1__box3">
        <div class="box">
          <a href="#"><img src="../../../../assets/img/bg_section_1_box3.png" alt="메타버스 새울시 투표하러 가기"></a>
        </div>
      </div>
    </div>
  </div>
  <!-- //scroll__section1 -->
  <!-- scroll__section2 -->
  <div class="scroll__section scroll__section2">
    <div class="scroll__section__inner">
      <div data-wow-delay="0.5s" class="section2__box1 wow fadeInUp">
        <div class="box"><img src="../../../../assets/img/bg_section_2_box1.png" alt="부캐전성시대, 메타버스 아바타쇼"></div>
      </div>
    </div>
  </div>
  <!-- //scroll__section2 -->
</article>
